[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "==3.7.8"
coverage = "==4.5.4"
model-bakery = "==1.0.1"
ipython = "==7.8.0"
black = "*"
ipdb = "*"

[packages]
django = "==2.2.10"
djangorestframework = "==3.10.3"
django-extensions = "==2.2.5"
dj-database-url = "==0.5.0"
django-filter = "==2.2.0"
werkzeug = "==0.16.0"
python-decouple = "==3.1"
Unipath = "*"
"psycopg2-binary" = "==2.8.4"
gunicorn = "==19.9.0"
requests = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
oauth2client = "*"
django-cors-headers = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
